<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="image/favicon.png" type="image/png">
  <title>Royal Hotel</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <style>
    .delete-icon {
      color: red;
    }
  </style>
</head>
<body>
<!--================Header Area =================-->
<header class="header_area">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand logo_h" href="index.html"><img src="image/Logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item"><a class="nav-link" th:href="@{/room}" >Room</a></li>
          <li class="nav-item active"><a class="nav-link" th:href="@{/reservation}">Reservation</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/client}">Customer</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--================Header Area =================-->


<div class="container" style="margin-top: 90px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="main_title">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRoomModal">Enter Reservation</button>


        <label style="color: Green;"></label>
        <label style="color: red;"></label><br>
        <h2>Reservation List</h2>
        <form class="form-inline my-2 my-lg-0" action="post" th:action="@{/searchReservation}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchText" id="searchText"  aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Autogenerated Number</th>
            <th>Reservation Number</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th>Email</th>
            <th>Customer Names</th>
            <th>Adult</th>
            <th>Child</th>
            <th>Room Id</th>
            <th colspan="2">ACTION</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="reservation : ${reservationList}">
            <td th:text="${reservation.resId}"></td>
            <td th:text="${reservation.reservationId}"></td>
            <td th:text="${reservation.arrivalDate}"></td>
            <td th:text="${reservation.departureDate}"></td>
            <td th:text="${reservation.email}"></td>
            <td th:text="${reservation.names}"></td>
            <td th:text="${reservation.adult}"></td>
            <td th:text="${reservation.child}"></td>
            <td th:text="${reservation.room.roomId}"></td>
            <td>
              <a th:href="@{/editReservation/{resId}(resId=${reservation.resId})}">
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <a th:href="@{/deleteReservation/{resId}(resId=${reservation.resId})}" onclick="return confirm('Are you sure you want to delete this Reservation?')">
                <i class="fas fa-trash delete-icon"></i>
              </a>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>


<!--================ start footer Area  =================-->
<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6 class="footer_title">About Agency</h6>
          <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6 class="footer_title">Navigation Links</h6>
          <div class="row">
            <div class="col-4">
              <ul class="list_style">
                <li><a href="#">Home</a></li>
                <li><a href="#">Feature</a></li>
                <li><a href="#">Services</a></li>
                <li><a th:href="@{/login}">Admin</a></li>
              </ul>
            </div>
            <div class="col-4">
              <ul class="list_style">
                <li><a href="#">Team</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6 class="footer_title">Newsletter</h6>
          <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>
          <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
              <div class="input-group d-flex flex-row">
                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
              </div>
              <div class="mt-10 info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget instafeed">
          <h6 class="footer_title">InstaFeed</h6>
          <ul class="list_style instafeed d-flex flex-wrap">
            <li><img src="image/instagram/Image-01.jpg" alt=""></li>
            <li><img src="image/instagram/Image-02.jpg" alt=""></li>
            <li><img src="image/instagram/Image-03.jpg" alt=""></li>
            <li><img src="image/instagram/Image-04.jpg" alt=""></li>
            <li><img src="image/instagram/Image-05.jpg" alt=""></li>
            <li><img src="image/instagram/Image-06.jpg" alt=""></li>
            <li><img src="image/instagram/Image-07.jpg" alt=""></li>
            <li><img src="image/instagram/Image-08.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="border_line"></div>
    <div class="row footer-bottom d-flex justify-content-between align-items-center">
      <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      <div class="col-lg-4 col-sm-12 footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
    </div>
  </div>
</footer>
<!--================ End footer Area  =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/lightbox/simpleLightbox.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>